In [101]:
pip install pandas-profiling

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [13]:
PayIn = pd.read_excel('PayIn.xlsx')
PayIn.head()

,date_transaction,pays_de_transaction,marchand,produit,operateur,devise,montant,commission_operateur,commission_cinetpay
0,2021-07-08 17:45:47,CI,DDV,Payin,DDVAOMCI,XOF,2000.0,30.0,0.0
1,2021-07-02 22:02:08,CI,DDV,Payin,DDVAVISAM,XOF,2000.0,30.0,10.0
2,2021-12-06 23:11:20,SN,BET,Payin,OMSN,XOF,1000.0,10.0,30.0
3,2022-01-06 10:39:43,CI,DDV,Payin,DDVAVISAM,XOF,2000.0,30.0,10.0
4,2021-07-03 19:39:20,SN,BET,Payin,OMSN,XOF,500.0,5.0,15.0

In [16]:
PayOut = pd.read_excel('PayOut.xlsx')
PayOut.head()

,date_transaction,pays_de_transaction,marchand,produit,operateur,devise,montant
0,2021-09-10 13:43:30,SN,BET,Payout,OMSN,XOF,6000.0
1,2021-10-01 12:36:36,CM,STA,Payout,MTNCM,XAF,1500.0
2,2021-04-18 18:03:01,SN,BET,Payout,OMSN,XOF,5000.0
3,2020-01-19 16:55:00,ML,Pre,Payout,OMML,XOF,300.0
4,2021-02-02 08:54:02,CM,STA,Payout,MTNCM,XAF,4000.0

In [14]:
Airtime = pd.read_excel('Airtime.xlsx')
Airtime.head()

,date_transaction,pays_de_transaction,marchand,produit,operateur,devise,montant
0,2021-12-27 09:24:00,CI,YUP,Airtime,OM,XOF,1000
1,2020-01-22 10:51:00,CI,BET,Airtime,OM,XOF,5000
2,2021-12-14 10:18:00,CI,YUP,Airtime,OM,XOF,300
3,2021-12-21 10:31:00,CI,YUP,Airtime,OM,XOF,3000
4,2021-12-08 16:50:00,CI,YUP,Airtime,OM,XOF,600

# Phase exploratoire des différents fichiers

In [17]:
from pandas_profiling import ProfileReport

C:\Users\RCARINE\AppData\Local\Temp/ipykernel_13432/2274191625.py:1: DeprecationWarning: `import pandas_profiling` is going to be deprecated by April 1st. Please use `import ydata_profiling` instead.
  from pandas_profiling import ProfileReport

**Phase exploratoire du fichier PayIn**

In [18]:
prof = ProfileReport(PayIn)
prof.to_file(output_file='rapportPayin.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

**Phase exploratoire du fichier PayOut**

In [19]:
profPayOut = ProfileReport(PayOut)
profPayOut.to_file(output_file='rapportPayOut.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

**Phase exploratoire du fichier Airtime**

In [20]:
profAirtime = ProfileReport(Airtime)
profAirtime.to_file(output_file='rapportAirtime.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

# Fusion des trois fichiers

In [104]:
FusionDesDonnees = PayIn.append(PayOut).append(Airtime)

In [105]:
# Visualisation de notre data

FusionDesDonnees

,date_transaction,pays_de_transaction,marchand,produit,operateur,devise,montant,commission_operateur,commission_cinetpay
0,2021-07-08 17:45:47,CI,DDV,Payin,DDVAOMCI,XOF,2000.0,30.0,0.0
1,2021-07-02 22:02:08,CI,DDV,Payin,DDVAVISAM,XOF,2000.0,30.0,10.0
2,2021-12-06 23:11:20,SN,BET,Payin,OMSN,XOF,1000.0,10.0,30.0
3,2022-01-06 10:39:43,CI,DDV,Payin,DDVAVISAM,XOF,2000.0,30.0,10.0
4,2021-07-03 19:39:20,SN,BET,Payin,OMSN,XOF,500.0,5.0,15.0
...,...,...,...,...,...,...,...,...,...
9995,2021-11-28 08:19:00,CI,YUP,Airtime,OM,XOF,200.0,NaN,NaN
9996,2021-11-26 17:06:00,CI,YUP,Airtime,OM,XOF,500.0,NaN,NaN
9997,2021-11-25 11:22:00,CI,YUP,Airtime,OM,XOF,150.0,NaN,NaN
9998,2021-10-19 09:23:00,CI,AFR,Airtime,OM,XOF,1000.0,NaN,NaN
9999,2021-12-30 11:42:00,CI,Wiz,Airtime,MOMO,XOF,2545.0,NaN,NaN

## IMPUTATION DES VALEURS MANQUANTES

**Vue qu'au PayOut et au Airtime il n'y pas de commission(commission_opérateur et commission_Cinetpay) nous allons donc imputer par 0**

#### Créons une fonction qui impute les valeurs manquantes

In [106]:
colnum = ('montant', 'commission_operateur','commission_cinetpay')
colnum

('montant', 'commission_operateur', 'commission_cinetpay')

In [107]:
def imputmissingvalue(data, cols, val):
    valuesinput = dict.fromkeys(cols,val)
    data.fillna(valuesinput, inplace=True)
    return data

In [109]:
FusionDesDonnees = imputmissingvalue(FusionDesDonnees,colnum,0)
FusionDesDonnees.tail()

,date_transaction,pays_de_transaction,marchand,produit,operateur,devise,montant,commission_operateur,commission_cinetpay
9995,2021-11-28 08:19:00,CI,YUP,Airtime,OM,XOF,200.0,0.0,0.0
9996,2021-11-26 17:06:00,CI,YUP,Airtime,OM,XOF,500.0,0.0,0.0
9997,2021-11-25 11:22:00,CI,YUP,Airtime,OM,XOF,150.0,0.0,0.0
9998,2021-10-19 09:23:00,CI,AFR,Airtime,OM,XOF,1000.0,0.0,0.0
9999,2021-12-30 11:42:00,CI,Wiz,Airtime,MOMO,XOF,2545.0,0.0,0.0

####  Créons une fonction pour formater en date

In [110]:
def dateformat(data, col):
    data[col] = pd.to_datetime(data[col], format='%Y-%m-%d %H:%M:%S')
    return data

#Appel de notre fonction
FusionDesDonnees = dateformat(FusionDesDonnees,'date_transaction')
FusionDesDonnees

,date_transaction,pays_de_transaction,marchand,produit,operateur,devise,montant,commission_operateur,commission_cinetpay
0,2021-07-08 17:45:47,CI,DDV,Payin,DDVAOMCI,XOF,2000.0,30.0,0.0
1,2021-07-02 22:02:08,CI,DDV,Payin,DDVAVISAM,XOF,2000.0,30.0,10.0
2,2021-12-06 23:11:20,SN,BET,Payin,OMSN,XOF,1000.0,10.0,30.0
3,2022-01-06 10:39:43,CI,DDV,Payin,DDVAVISAM,XOF,2000.0,30.0,10.0
4,2021-07-03 19:39:20,SN,BET,Payin,OMSN,XOF,500.0,5.0,15.0
...,...,...,...,...,...,...,...,...,...
9995,2021-11-28 08:19:00,CI,YUP,Airtime,OM,XOF,200.0,0.0,0.0
9996,2021-11-26 17:06:00,CI,YUP,Airtime,OM,XOF,500.0,0.0,0.0
9997,2021-11-25 11:22:00,CI,YUP,Airtime,OM,XOF,150.0,0.0,0.0
9998,2021-10-19 09:23:00,CI,AFR,Airtime,OM,XOF,1000.0,0.0,0.0
9999,2021-12-30 11:42:00,CI,Wiz,Airtime,MOMO,XOF,2545.0,0.0,0.0

### fonction qui tranforme le type d'une colonne en float

**Les données sont bien formatés dans notre cas mais nous formatons pour des cas critiques à venir**

In [111]:
def transtype(data, cols):
    for col in cols:
        data[col] = data[col].astype(np.float64)
    return data

FusionDesDonnees = transtype(FusionDesDonnees, colnum)
FusionDesDonnees.dtypes

date_transaction        datetime64[ns]
pays_de_transaction             object
marchand                        object
produit                         object
operateur                       object
devise                          object
montant                        float64
commission_operateur           float64
commission_cinetpay            float64
dtype: object

# COMBINAISON DES FONCTIONS

In [132]:
def imputmissingvalue(data, cols, val):
    valuesinput = dict.fromkeys(cols,val)
    data.fillna(valuesinput, inplace=True)
    return data


def dateformat(data, col):
    data[col] = pd.to_datetime(data[col], format='%Y-%m-%d %H:%M:%S')
    return data

def transtype(data, cols):
    for col in cols:
        data[col] = data[col].astype(np.float64)
    return data

def traitement(data,cols,val):
    data = transtype(dateformat(imputmissingvalue(data,cols,val),'date_transaction'),cols)
    data.drop_duplicates(keep = 'first', inplace=True)
    return data

In [133]:
FusionDesDonnees = traitement(PayIn.append(PayOut).append(Airtime),colnum,0)
FusionDesDonnees

,date_transaction,pays_de_transaction,marchand,produit,operateur,devise,montant,commission_operateur,commission_cinetpay
0,2021-07-08 17:45:47,CI,DDV,Payin,DDVAOMCI,XOF,2000.0,30.0,0.0
1,2021-07-02 22:02:08,CI,DDV,Payin,DDVAVISAM,XOF,2000.0,30.0,10.0
2,2021-12-06 23:11:20,SN,BET,Payin,OMSN,XOF,1000.0,10.0,30.0
3,2022-01-06 10:39:43,CI,DDV,Payin,DDVAVISAM,XOF,2000.0,30.0,10.0
4,2021-07-03 19:39:20,SN,BET,Payin,OMSN,XOF,500.0,5.0,15.0
...,...,...,...,...,...,...,...,...,...
9995,2021-11-28 08:19:00,CI,YUP,Airtime,OM,XOF,200.0,0.0,0.0
9996,2021-11-26 17:06:00,CI,YUP,Airtime,OM,XOF,500.0,0.0,0.0
9997,2021-11-25 11:22:00,CI,YUP,Airtime,OM,XOF,150.0,0.0,0.0
9998,2021-10-19 09:23:00,CI,AFR,Airtime,OM,XOF,1000.0,0.0,0.0
9999,2021-12-30 11:42:00,CI,Wiz,Airtime,MOMO,XOF,2545.0,0.0,0.0

In [134]:
FusionDesDonnees.dtypes

date_transaction        datetime64[ns]
pays_de_transaction             object
marchand                        object
produit                         object
operateur                       object
devise                          object
montant                        float64
commission_operateur           float64
commission_cinetpay            float64
dtype: object

In [135]:
profFusionDesDonnees = ProfileReport(FusionDesDonnees)
profFusionDesDonnees.to_file(output_file='rapportFusionDesDonnees.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

C:\Users\RCARINE\anaconda3\lib\site-packages\pandas_profiling\model\correlations.py:67: UserWarning: There was an attempt to calculate the auto correlation, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(correlations={"auto": {"calculate": False}})`
If this is problematic for your use case, please report this as an issue:
https://github.com/ydataai/pandas-profiling/issues
(include the error message: 'cannot reindex from a duplicate axis')
  warnings.warn(

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]