In [27]:
pip install pandas-profiling

Requirement already satisfied: pandas-profiling in c:\users\rcarine\anaconda3\lib\site-packages (3.6.6)
Requirement already satisfied: ydata-profiling in c:\users\rcarine\anaconda3\lib\site-packages (from pandas-profiling) (4.1.2)
Requirement already satisfied: htmlmin==0.1.12 in c:\users\rcarine\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (0.1.12)
Requirement already satisfied: phik<0.13,>=0.11.1 in c:\users\rcarine\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (0.12.3)
Requirement already satisfied: visions[type_image_path]==0.7.5 in c:\users\rcarine\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (0.7.5)
Requirement already satisfied: numpy<1.24,>=1.16.0 in c:\users\rcarine\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (1.20.3)
Requirement already satisfied: jinja2<3.2,>=2.11.1 in c:\users\rcarine\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (2.11.3)
Requirement already satisfied: multimethod<1.10,>=1.4 in c:\users\rcarine\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (1.9.1)
Requirement already satisfied: requests<2.29,>=2.24.0 in c:\users\rcarine\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (2.26.0)
Requirement already satisfied: pandas!=1.4.0,<1.6,>1.1 in c:\users\rcarine\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (1.3.4)
Requirement already satisfied: PyYAML<6.1,>=5.0.0 in c:\users\rcarine\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (6.0)
Requirement already satisfied: matplotlib<3.7,>=3.2 in c:\users\rcarine\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (3.4.3)
Requirement already satisfied: seaborn<0.13,>=0.10.1 in c:\users\rcarine\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (0.11.2)
Requirement already satisfied: statsmodels<0.14,>=0.13.2 in c:\users\rcarine\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (0.13.5)
Requirement already satisfied: scipy<1.10,>=1.4.1 in c:\users\rcarine\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (1.7.1)
Requirement already satisfied: tqdm<4.65,>=4.48.2 in c:\users\rcarine\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (4.62.3)
Requirement already satisfied: imagehash==4.3.1 in c:\users\rcarine\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (4.3.1)
Requirement already satisfied: pydantic<1.11,>=1.8.1 in c:\users\rcarine\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (1.10.7)
Requirement already satisfied: typeguard<2.14,>=2.13.2 in c:\users\rcarine\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (2.13.3)
Requirement already satisfied: pillow in c:\users\rcarine\anaconda3\lib\site-packages (from imagehash==4.3.1->ydata-profiling->pandas-profiling) (8.4.0)
Requirement already satisfied: PyWavelets in c:\users\rcarine\anaconda3\lib\site-packages (from imagehash==4.3.1->ydata-profiling->pandas-profiling) (1.1.1)
Requirement already satisfied: attrs>=19.3.0 in c:\users\rcarine\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.5->ydata-profiling->pandas-profiling) (21.2.0)
Requirement already satisfied: networkx>=2.4 in c:\users\rcarine\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.5->ydata-profiling->pandas-profiling) (2.6.3)
Requirement already satisfied: tangled-up-in-unicode>=0.0.4 in c:\users\rcarine\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.5->ydata-profiling->pandas-profiling) (0.2.0)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\rcarine\anaconda3\lib\site-packages (from jinja2<3.2,>=2.11.1->ydata-profiling->pandas-profiling) (1.1.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\rcarine\anaconda3\lib\site-packages (from matplotlib<3.7,>=3.2->ydata-profiling->pandas-profiling) (1.3.1)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\rcarine\anaconda3\lib\site-packages (from matplotlib<3.7,>=3.2->ydata-profiling->pandas-profiling) (3.0.4)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\rcarine\anaconda3\lib\site-packages (from matplotlib<3.7,>=3.2->ydata-profiling->pandas-profiling) (2.8.2)
Requirement already satisfied: cycler>=0.10 in c:\users\rcarine\anaconda3\lib\site-packages (from matplotlib<3.7,>=3.2->ydata-profiling->pandas-profiling) (0.10.0)
Requirement already satisfied: six in c:\users\rcarine\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib<3.7,>=3.2->ydata-profiling->pandas-profiling) (1.16.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\rcarine\anaconda3\lib\site-packages (from pandas!=1.4.0,<1.6,>1.1->ydata-profiling->pandas-profiling) (2021.3)
Requirement already satisfied: joblib>=0.14.1 in c:\users\rcarine\anaconda3\lib\site-packages (from phik<0.13,>=0.11.1->ydata-profiling->pandas-profiling) (1.1.0)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\rcarine\anaconda3\lib\site-packages (from pydantic<1.11,>=1.8.1->ydata-profiling->pandas-profiling) (4.3.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\rcarine\anaconda3\lib\site-packages (from requests<2.29,>=2.24.0->ydata-profiling->pandas-profiling) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\rcarine\anaconda3\lib\site-packages (from requests<2.29,>=2.24.0->ydata-profiling->pandas-profiling) (1.26.7)
Requirement already satisfied: idna<4,>=2.5 in c:\users\rcarine\anaconda3\lib\site-packages (from requests<2.29,>=2.24.0->ydata-profiling->pandas-profiling) (3.2)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\rcarine\anaconda3\lib\site-packages (from requests<2.29,>=2.24.0->ydata-profiling->pandas-profiling) (2.0.4)
Requirement already satisfied: patsy>=0.5.2 in c:\users\rcarine\anaconda3\lib\site-packages (from statsmodels<0.14,>=0.13.2->ydata-profiling->pandas-profiling) (0.5.2)
Requirement already satisfied: packaging>=21.3 in c:\users\rcarine\anaconda3\lib\site-packages (from statsmodels<0.14,>=0.13.2->ydata-profiling->pandas-profiling) (23.1)
Requirement already satisfied: colorama in c:\users\rcarine\anaconda3\lib\site-packages (from tqdm<4.65,>=4.48.2->ydata-profiling->pandas-profiling) (0.4.4)
Note: you may need to restart the kernel to use updated packages.

In [28]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import plotly.graph_objects as go

In [29]:
PayIn = pd.read_excel('PayIn.xlsx')
PayIn.head()

,date_transaction,pays_de_transaction,marchand,produit,operateur,devise,montant,commission_operateur,commission_cinetpay
0,2021-07-08 17:45:47,CI,DDV,Payin,DDVAOMCI,XOF,2000.0,30.0,0.0
1,2021-07-02 22:02:08,CI,DDV,Payin,DDVAVISAM,XOF,2000.0,30.0,10.0
2,2021-12-06 23:11:20,SN,BET,Payin,OMSN,XOF,1000.0,10.0,30.0
3,2022-01-06 10:39:43,CI,DDV,Payin,DDVAVISAM,XOF,2000.0,30.0,10.0
4,2021-07-03 19:39:20,SN,BET,Payin,OMSN,XOF,500.0,5.0,15.0

In [30]:
PayOut = pd.read_excel('PayOut.xlsx')
PayOut.head()

,date_transaction,pays_de_transaction,marchand,produit,operateur,devise,montant
0,2021-09-10 13:43:30,SN,BET,Payout,OMSN,XOF,6000.0
1,2021-10-01 12:36:36,CM,STA,Payout,MTNCM,XAF,1500.0
2,2021-04-18 18:03:01,SN,BET,Payout,OMSN,XOF,5000.0
3,2020-01-19 16:55:00,ML,Pre,Payout,OMML,XOF,300.0
4,2021-02-02 08:54:02,CM,STA,Payout,MTNCM,XAF,4000.0

In [31]:
Airtime = pd.read_excel('Airtime.xlsx')
Airtime.head()

,date_transaction,pays_de_transaction,marchand,produit,operateur,devise,montant
0,2021-12-27 09:24:00,CI,YUP,Airtime,OM,XOF,1000
1,2020-01-22 10:51:00,CI,BET,Airtime,OM,XOF,5000
2,2021-12-14 10:18:00,CI,YUP,Airtime,OM,XOF,300
3,2021-12-21 10:31:00,CI,YUP,Airtime,OM,XOF,3000
4,2021-12-08 16:50:00,CI,YUP,Airtime,OM,XOF,600

# Phase exploratoire des différents fichiers

In [32]:
from pandas_profiling import ProfileReport

**Phase exploratoire du fichier PayIn**

In [33]:
prof = ProfileReport(PayIn)
prof.to_file(output_file='rapportPayin.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

**Phase exploratoire du fichier PayOut**

In [34]:
profPayOut = ProfileReport(PayOut)
profPayOut.to_file(output_file='rapportPayOut.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

**Phase exploratoire du fichier Airtime**

In [35]:
profAirtime = ProfileReport(Airtime)
profAirtime.to_file(output_file='rapportAirtime.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

# Fusion des trois fichiers

In [36]:
FusionDesDonnees = PayIn.append(PayOut).append(Airtime)

In [37]:
# Visualisation de notre data

FusionDesDonnees

,date_transaction,pays_de_transaction,marchand,produit,operateur,devise,montant,commission_operateur,commission_cinetpay
0,2021-07-08 17:45:47,CI,DDV,Payin,DDVAOMCI,XOF,2000.0,30.0,0.0
1,2021-07-02 22:02:08,CI,DDV,Payin,DDVAVISAM,XOF,2000.0,30.0,10.0
2,2021-12-06 23:11:20,SN,BET,Payin,OMSN,XOF,1000.0,10.0,30.0
3,2022-01-06 10:39:43,CI,DDV,Payin,DDVAVISAM,XOF,2000.0,30.0,10.0
4,2021-07-03 19:39:20,SN,BET,Payin,OMSN,XOF,500.0,5.0,15.0
...,...,...,...,...,...,...,...,...,...
9995,2021-11-28 08:19:00,CI,YUP,Airtime,OM,XOF,200.0,NaN,NaN
9996,2021-11-26 17:06:00,CI,YUP,Airtime,OM,XOF,500.0,NaN,NaN
9997,2021-11-25 11:22:00,CI,YUP,Airtime,OM,XOF,150.0,NaN,NaN
9998,2021-10-19 09:23:00,CI,AFR,Airtime,OM,XOF,1000.0,NaN,NaN
9999,2021-12-30 11:42:00,CI,Wiz,Airtime,MOMO,XOF,2545.0,NaN,NaN

## IMPUTATION DES VALEURS MANQUANTES

**Vue qu'au PayOut et au Airtime il n'y pas de commission(commission_opérateur et commission_Cinetpay) nous allons donc imputer par 0**

#### Créons une fonction qui impute les valeurs manquantes

In [38]:
colnum = ('montant', 'commission_operateur','commission_cinetpay')
colnum

('montant', 'commission_operateur', 'commission_cinetpay')

In [39]:
def imputmissingvalue(data, cols, val):
    valuesinput = dict.fromkeys(cols,val)
    data.fillna(valuesinput, inplace=True)
    return data

In [40]:
FusionDesDonnees = imputmissingvalue(FusionDesDonnees,colnum,0)
FusionDesDonnees.tail()

,date_transaction,pays_de_transaction,marchand,produit,operateur,devise,montant,commission_operateur,commission_cinetpay
9995,2021-11-28 08:19:00,CI,YUP,Airtime,OM,XOF,200.0,0.0,0.0
9996,2021-11-26 17:06:00,CI,YUP,Airtime,OM,XOF,500.0,0.0,0.0
9997,2021-11-25 11:22:00,CI,YUP,Airtime,OM,XOF,150.0,0.0,0.0
9998,2021-10-19 09:23:00,CI,AFR,Airtime,OM,XOF,1000.0,0.0,0.0
9999,2021-12-30 11:42:00,CI,Wiz,Airtime,MOMO,XOF,2545.0,0.0,0.0

####  Créons une fonction pour formater en date

In [41]:
def dateformat(data, col):
    data[col] = pd.to_datetime(data[col], format='%Y-%m-%d %H:%M:%S')
    return data

#Appel de notre fonction
FusionDesDonnees = dateformat(FusionDesDonnees,'date_transaction')
FusionDesDonnees

,date_transaction,pays_de_transaction,marchand,produit,operateur,devise,montant,commission_operateur,commission_cinetpay
0,2021-07-08 17:45:47,CI,DDV,Payin,DDVAOMCI,XOF,2000.0,30.0,0.0
1,2021-07-02 22:02:08,CI,DDV,Payin,DDVAVISAM,XOF,2000.0,30.0,10.0
2,2021-12-06 23:11:20,SN,BET,Payin,OMSN,XOF,1000.0,10.0,30.0
3,2022-01-06 10:39:43,CI,DDV,Payin,DDVAVISAM,XOF,2000.0,30.0,10.0
4,2021-07-03 19:39:20,SN,BET,Payin,OMSN,XOF,500.0,5.0,15.0
...,...,...,...,...,...,...,...,...,...
9995,2021-11-28 08:19:00,CI,YUP,Airtime,OM,XOF,200.0,0.0,0.0
9996,2021-11-26 17:06:00,CI,YUP,Airtime,OM,XOF,500.0,0.0,0.0
9997,2021-11-25 11:22:00,CI,YUP,Airtime,OM,XOF,150.0,0.0,0.0
9998,2021-10-19 09:23:00,CI,AFR,Airtime,OM,XOF,1000.0,0.0,0.0
9999,2021-12-30 11:42:00,CI,Wiz,Airtime,MOMO,XOF,2545.0,0.0,0.0

### fonction qui tranforme le type d'une colonne en float

**Les données sont bien formatés dans notre cas mais nous formatons pour des cas critiques à venir**

In [42]:
def transtype(data, cols):
    for col in cols:
        data[col] = data[col].astype(np.float64)
    return data

FusionDesDonnees = transtype(FusionDesDonnees, colnum)
FusionDesDonnees.dtypes

date_transaction        datetime64[ns]
pays_de_transaction             object
marchand                        object
produit                         object
operateur                       object
devise                          object
montant                        float64
commission_operateur           float64
commission_cinetpay            float64
dtype: object

# COMBINAISON DES FONCTIONS

In [43]:
def imputmissingvalue(data, cols, val):
    valuesinput = dict.fromkeys(cols,val)
    data.fillna(valuesinput, inplace=True)
    return data


def dateformat(data, col):
    data[col] = pd.to_datetime(data[col], format='%Y-%m-%d %H:%M:%S')
    return data

def transtype(data, cols):
    for col in cols:
        data[col] = data[col].astype(np.float64)
    return data

def traitement(data,cols,val):
    data = transtype(dateformat(imputmissingvalue(data,cols,val),'date_transaction'),cols)
    #data.drop_duplicates(keep = 'first', inplace=True)
    return data

In [44]:
FusionDesDonnees = traitement(PayIn.append(PayOut).append(Airtime),colnum,0)
FusionDesDonnees

,date_transaction,pays_de_transaction,marchand,produit,operateur,devise,montant,commission_operateur,commission_cinetpay
0,2021-07-08 17:45:47,CI,DDV,Payin,DDVAOMCI,XOF,2000.0,30.0,0.0
1,2021-07-02 22:02:08,CI,DDV,Payin,DDVAVISAM,XOF,2000.0,30.0,10.0
2,2021-12-06 23:11:20,SN,BET,Payin,OMSN,XOF,1000.0,10.0,30.0
3,2022-01-06 10:39:43,CI,DDV,Payin,DDVAVISAM,XOF,2000.0,30.0,10.0
4,2021-07-03 19:39:20,SN,BET,Payin,OMSN,XOF,500.0,5.0,15.0
...,...,...,...,...,...,...,...,...,...
9995,2021-11-28 08:19:00,CI,YUP,Airtime,OM,XOF,200.0,0.0,0.0
9996,2021-11-26 17:06:00,CI,YUP,Airtime,OM,XOF,500.0,0.0,0.0
9997,2021-11-25 11:22:00,CI,YUP,Airtime,OM,XOF,150.0,0.0,0.0
9998,2021-10-19 09:23:00,CI,AFR,Airtime,OM,XOF,1000.0,0.0,0.0
9999,2021-12-30 11:42:00,CI,Wiz,Airtime,MOMO,XOF,2545.0,0.0,0.0

In [45]:
FusionDesDonnees.dtypes

date_transaction        datetime64[ns]
pays_de_transaction             object
marchand                        object
produit                         object
operateur                       object
devise                          object
montant                        float64
commission_operateur           float64
commission_cinetpay            float64
dtype: object

In [46]:
profFusionDesDonnees = ProfileReport(FusionDesDonnees)
profFusionDesDonnees.to_file(output_file='rapportToutesLesTransactions.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

C:\Users\RCARINE\anaconda3\lib\site-packages\pandas_profiling\model\correlations.py:67: UserWarning:

There was an attempt to calculate the auto correlation, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(correlations={"auto": {"calculate": False}})`
If this is problematic for your use case, please report this as an issue:
https://github.com/ydataai/pandas-profiling/issues
(include the error message: 'cannot reindex from a duplicate axis')

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [48]:
FusionDesDonnees['date_transaction'] = pd.to_datetime(FusionDesDonnees['date_transaction'])

# Définir les types pour chaque colonne
dtypes = {
    'montant': int,
    'commission_operateur': float,
    'commission_cinetpay': float,
    'date_transaction': 'datetime64'
}

# Enregistrer le DataFrame en XLSX avec les types définis
with pd.ExcelWriter(r'C:\Users\RCARINE\Desktop\CinetpayPython\CinetpayTestPython\ToutesLesTransactions.xlsx') as writer:
    FusionDesDonnees.to_excel(writer, sheet_name='ToutesLesTransactions', index=False, engine='openpyxl')